@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy Regular';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Add rules for other weights and styles as needed */

.gilroy{
  font-family: 'Gilroy Regular', sans-serif;
}

*{
  font-family: 'Gilroy', sans-serif;
  /* font-weight: 500; */
}

::-webkit-scrollbar{
  width: 8px;
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb{
  background-color: #0A0D31;
  border-radius: 4px;
}